//colors
$black: rgb(0,0,0);
$black_90: rgba(0,0,0, 0.92);
$color_gray_approx: #818181; 
$seashell: #f1f1f1;

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    background-color: $black;
    background-color: $black_90;
    overflow-y: hidden;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: 0.5s;
    a {
        text-align: left;
        padding: 8px;
        text-decoration: none;
        font-size: 16px;
        color: $color_gray_approx;
        display: block;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: 0.3s;
        &:hover {
            color: $seashell;
        }
        &:focus {
            color: $seashell;
        }
    }
    .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
}
.overlay-content {
    position: relative;
    top: 8%;
    width: 100%;
    // text-align: center;
    margin-top: 30px;
}
@media screen and(max-height: 450px) {
    .overlay {
        overflow-y: auto;
        a {
            font-size: 20px;
        }
        .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
}
.menu-header {
    font-size: 26px;
    line-height: 1.2;
    color: white;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}



//togler fix

$white_10: rgba(255,255,255,0.1);
.nav-collapse-fix {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 1px 0 $white_10;
    &.collapse {
        display: none!important;
    }
}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
    > li {
        float: none;
        > a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
} 

.navbar, .navbar.navbar-default {
    background-color: rgba(39, 113, 174, 0.91);
}
